@font-face {
  font-family: 'iconos';
  src:  url('iconos.eot?qell0b');
  src:  url('iconos.eot?qell0b#iefix') format('embedded-opentype'),
    url('iconos.ttf?qell0b') format('truetype'),
    url('iconos.woff?qell0b') format('woff'),
    url('iconos.svg?qell0b#iconos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-phone:before {
  content: "\e942";
}
.icon-display:before {
  content: "\e956";
}
.icon-user:before {
  content: "\e971";
}
.icon-mail4:before {
  content: "\ea86";
}
