@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
  background: #060c05a9;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 30px #272626a4;
  border-bottom-style: solid;
  border-bottom-color: #130f0fa4;
  border-bottom-width: 4px;
}

.Encabezado{
  width: 90%;
  height: 30px;
  margin: auto;
  border: 0px solid #000;
  float: right;
 
}

.Titulo{
  width: 30%;
  height: auto; overflow: hidden;
  float: left;
  color: #fff;
  font-size: 30px;
  margin-top: 8px;
}
.img-perfil{
  background-color: #060c05a9;
  width: 80px;
  height: auto;
}

.navbar{
  width: 40%;
  height: 30px;
  float: right;
  border: 0px solid;
  margin-top: 31px;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
}

.navbar ul li .Inicio-menu{
  text-decoration: none;
  color: #fff;
  background: #130f0fa4;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
}

.navbar ul li .Enlaces{
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.navbar ul li .Enlaces:hover{
  background: #130f0fa4;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}
/*Contenido principal*/
.principal{
  width: 80%;
  height: auto;
  border: 0px solid;
  margin: 10px auto;
  margin-top: 30px;
}

.Info-personal{
  width: 90%;
  height: auto;
  border: 0px solid;
  margin: 10px auto;
}

.Yo{
  width: 99%;
  height: auto;
  padding: 10px;
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #696868a4;
}

.img-yo{
   width: 100px;
   height: 110px;
   float: left;
   border-radius: 30px;
   margin: 10px 10px 10px 0px;
 }

.parrafo-info-personal{
   margin-top: 20px;
   margin-bottom: 70px;
 }
 .familia{
  width: 99%;
  height: auto;
  padding: 10px;
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #696868a4;
  margin-top: 30px;
}
.parrafo-info-familia{
  margin-top: 20px;
  margin-bottom: 90px;
}
.img-flia{
  width: 100px;
   height: 120px;
   float: left;
   border-radius: 30px;
   margin: 10px 10px 10px 0px;
}
 .Subtitulo{ 
   font-family: "Oswald";
 }
 .footer{
   background-image: url("https://mlcgmfq6wv1t.i.optimole.com/GLVb3A-wJhd2Fe1/w:auto/h:auto/q:auto/https://www.int-team.com/wp-content/uploads/2016/07/exportar-electronica.jpg");
   background-color: transparent;
 }
.pie-pagina{
   float: right;
   margin-top: 20px;
 }
